@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NoonnuBasicGothicRegular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noon-2410@1.0/NoonnuBasicGothicRegular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  font-family: 'NoonnuBasicGothicRegular', sans-serif;
}

@media (max-width: 1024px) {
  html,
  body {
    background-color: #f1f5f9;
  }
}

@media (max-width: 1024px) {
  html,
  body {
    background-color: rgba(255, 249, 242, 1);
  }
}

/* 모든 스크롤바 숨기기 */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}
